<!DOCTYPE html>

<html lang="pt-br">
        <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CALCULADORA</title>
    </head>

    <body>

            <form method='post'>
                <ul>
                        </br>
                    <h1>INSIRA OS NÚMEROS DESEJADOS</h1>
                        </br>
                    
                <li>
                    <label>

                        Número 1:
                            <input type = "number" name ="numUm">
                    
                    </label>
                    <label>

                        Número 2:
                            <input type = "number" name ="numDois">

                    </label>
                            </br>
                    <h1>selecione a operação:</h1>

                    <label>
                        Operadores:

                            <select name = "operacao"
                    </label>

                                <option hidden value = "vazio">Selecionar</option>
                                <option value = "soma">Somar</option>
                                <option value = "subtrai">Subtrair</option>
                                <option value = "multiplica">Multiplicar</option>
                                <option value = "divide">Dividir</option>
                            </select>
                            
                </li>
                            </br>

                <li>
                            <input type = "submit" name = "ENVIAR">
                            
                </li>
                </ul>
            </form>

    </body>
</html>